[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
django-cors-headers = "*"
social-auth-app-django = "*"
pillow = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
